*
!.gitignore
!/jobs/
!/jobs/*/
!/jobs/*/*
!/jobs/*/config.xml
!/users/
!/users/*/
!/users/*/*
!/users/*/config.xml
!/*.xml
!/plugins/
!/plugins/*/
!/plugins/*/*
!/userContent/
!/userContent/*/
!/userContent/*/*
!/war/
!/war/*/
!/war/*/*
